@model IPagedList<AstraBlog.Models.BlogPost>

@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using AstraBlog.Services.Interfaces
@using AstraBlog.Enums
@using X.PagedList.Web.Common;

@inject IImageService _ImageService
@inject IAstraBlogService _BlogService

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title text-center">
                    <h2 class="title mb--40">All Posts</h2>
                    <p class="subtitle">Browse through our complete collection of articles</p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row">
                    @foreach (var blogPost in Model)
                    {
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="content-block modern-post-style">
                                <div class="post-thumbnail">
                                    <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">
                                        <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!, blogPost.ImageType!, (int)DefaultImage.BlogPostImage)" alt="@blogPost.Title">
                                    </a>
                                </div>
                                <div class="post-content">
                                    <div class="post-cat">
                                        <div class="post-cat-list">
                                            <a href="#">@blogPost.Category?.Name</a>
                                        </div>
                                    </div>
                                    <h5 class="title">
                                        <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@blogPost.Slug">@blogPost.Title</a>
                                    </h5>
                                    <div class="post-meta">
                                        <ul class="post-meta-list">
                                            <li>@blogPost.Created.ToString("MMM dd, yyyy")</li>
                                            <li>@blogPost.Comments.Count comments</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <div class="pagination text-center mt--40">
                    @Html.PagedListPager(Model, pageNum => Url.Action("AllPosts", new { pageNum }),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] {"page-item"},
                        PageClasses = new string[] {"page-link"},
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        MaximumPageNumbersToDisplay = 5
                    })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Post List Wrapper  --> 