@model AstraBlog.Models.BlogPost
@using AstraBlog.Enums;
@using AstraBlog.Services.Interfaces

@inject IImageService _ImageService
@inject IAstraBlogService _BlogPostService

@{
    ViewData["Title"] = "Details";
}

<style>
    .ck-editor__editable_inline {
        min-height: 300px;
    }
</style>


<!-- Start Post Single Wrapper  -->
<div class="post-single-wrapper axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <!-- Start Banner Area -->
                <div class="banner banner-single-post post-formate post-layout pb--40">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!-- Start Single Slide  -->
                                <div class="content-block">
                                    <!-- Start Post Content  -->
                                    <div class="post-content">
                                        <div class="post-cat">
                                            <div class="post-cat-list">
                                                <a class="hover-flip-item-wrapper" href="#">
                                                    <span class="hover-flip-item">
                                                        <span data-text="@Model.Category!.Name">@Model.Category.Name</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <h1 class="title">
                                            @Model.Title
                                        </h1>
                                        <!-- Post Meta  -->
                                        <div class="post-meta-wrapper">
                                            <div class="post-meta">
                                                <div class="post-author-avatar border-rounded">
                                                    <img src="~/img/Antonio-Raynor_head.png" alt="Author Images" style="height:80px;width:80px">
                                                </div>
                                                <div class="content">
                                                    <h6 class="post-author-name">
                                                        <a class="hover-flip-item-wrapper" href="author.html">
                                                            <span class="hover-flip-item">
                                                                <span data-text="Blog Author">Blog Author</span>
                                                            </span>
                                                        </a>
                                                    </h6>
                                                    <ul class="post-meta-list">
                                                        <li>@Model.Created.ToString("MMM dd, yyyy")</li>
                                                        <li>@Model.Comments.Count Comments</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="social-share-transparent justify-content-end">
                                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#"><i class="fas fa-link"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- End Post Content  -->
                                </div>
                                <!-- End Single Slide  -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Banner Area -->
                <!-- Start Blog Details  -->
                <div class="axil-post-details">
                    <p class="has-medium-font-size">
                        @Model.Abstract
                    </p>
                    <figure class="wp-block-image alignwide text-center">
                        <img src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!,Model.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Post Images" />
                    </figure>
                    @Html.Raw(@Model.Content)
                    <div class="tagcloud">
                        @foreach (Tag tag in Model.Tags)
                        {

                            <a href="#">@tag.Name</a>
                        }
                    </div>

                    <div class="social-share-block">
                        <div class="post-like">
                            <a href="#"><i class="fa-solid fa-thumbs-up"></i><span>2.2k Like</span></a>
                        </div>
                        <ul class="social-icon icon-rounded-transparent md-size">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        </ul>
                    </div>

                    <!-- Start Author  -->
                    <div class="about-author">
                        <div class="media">
                            <div class="thumbnail">
                                <a href="#">
                                    <img src="~/img/Antonio-Raynor_head.png" alt="Author Images" style="height:120px;width:120px">
                                </a>
                            </div>
                            <div class="media-body">
                                <div class="author-info">
                                    <h5 class="title">
                                        <a class="hover-flip-item-wrapper" href="#">
                                            <span class="hover-flip-item">
                                                <span data-text="Blog Author">Blog Author</span>
                                            </span>
                                        </a>
                                    </h5>
                                    <span class="b3 subtitle">Sr. Software Developer</span>
                                </div>
                                <div class="content">
                                    <p class="b1 description">
                                        My favorite compliment is being
                                        told that I look like my dad. Seeing myself in her image, like this
                                        son up top, makes me so proud of how far I’ve come, and so thankful
                                        for where I come from.
                                    </p>
                                    <ul class="social-share-transparent size-md">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="far fa-envelope"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Author  -->
                    <!-- Start Comment Form Area  -->
                    <div class="axil-comment-area">


                        <!-- Start Comment Respond  -->
                        @if (User.Identity!.IsAuthenticated)
                        {
                            <div class="comment-respond">
                                <h4 class="title">Post a comment</h4>
                                <form asp-controller="Comments" asp-action="Create" method="post">
                                    <input type="hidden" asp-for="Id" name="BlogPostId">
                                    <input type="hidden" asp-for="Slug">
                                    <div class="row row-md-10">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message">Leave a Reply</label>
                                                <textarea id="editor" class="" name="Body"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-submit cerchio">
                                            <input name="submit" type="submit" id="submit" class="axil-button button-rounded" value="Post Comment">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                        else
                        {
                            <div class="axil-total-comment-post">
                                @*<div class="title">
                                    <h4 class="mb--0">30+ Comments</h4>
                                </div>*@
                                <div class="add-comment-button cerchio">
                                    <a class="axil-button button-rounded" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "BlogPosts", new { slug = Model.Slug })" tabindex="0"><span>Login to Add Your Comment</span></a>
                                </div>
                            </div>
                        }
                        <!-- End Comment Respond  -->
                        <!-- Start Comment Area  -->
                        <div class="axil-comment-area">
                            <h4 class="title">@Model.Comments.Count comments</h4>
                            <ul class="comment-list">
                                @foreach (var comment in Model.Comments)
                                {
                                    <!-- Start Single Comment  -->
                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="single-comment">
                                                <div class="comment-img">
                                                    <img src="@_ImageService.ConvertByteArrayToFile(comment.Author!.ImageData!,comment.Author.ImageType!,(int)DefaultImage.BlogUserImage)" alt="Author Images" style="height:40px;width:40px">
                                                </div>
                                                @if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
                                                {
                                                    <a>ANchor</a>
                                                }
                                                <div class="comment-inner">
                                                    <h6 class="commenter">
                                                        <a class="hover-flip-item-wrapper" href="#">
                                                            <span class="hover-flip-item">
                                                                <span data-text="@comment.Author.FullName">@comment.Author.FullName</span>
                                                            </span>
                                                        </a>
                                                    </h6>
                                                    <div class="comment-meta">
                                                        <div class="time-spent">@comment.Created.ToString("MMM dd, yyyy at hh:mm tt")</div>
                                                        <div class="reply-edit">
                                                            @*  <div class="reply">
                                                        <a class="comment-reply-link hover-flip-item-wrapper" href="#">
                                                        <span class="hover-flip-item">
                                                        <span data-text="Reply">Reply</span>
                                                        </span>
                                                        </a>
                                                        </div>*@
                                                        </div>
                                                    </div>
                                                    <div class="comment-text">
                                                        <p class="b2">
                                                            @Html.Raw(comment.Body)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- End Single Comment  -->
                                }
                            </ul>
                        </div>
                        <!-- End Comment Area  -->

                    </div>
                    <!-- End Comment Form Area  -->


                </div>
                <!-- End Blog Details  -->
            </div>
        </div>
    </div>
</div>
<!-- End Post Single Wrapper  -->
<!-- Start More Stories Area  -->
<div class="axil-more-stories-area axil-section-gap bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2 class="title">More Blogs</h2>
                </div>
            </div>
        </div>
        <div class="row">


            @foreach (BlogPost? blogPost in await _BlogPostService.GetRecentPostsExceptOneAsync(Model.Id, 4))
            {
                <!-- Start Stories Post  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- Start Post List  -->
                    <div class="post-stories content-block mt--30">
                        <div class="post-thumbnail">
                            <a href="post-details.html">
                                <img src="@_ImageService.ConvertByteArrayToFile(blogPost.ImageData!,blogPost.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Post Images">
                            </a>
                        </div>
                        <div class="post-content">
                            <div class="post-cat">
                                <div class="post-cat-list">
                                    <a href="#">@blogPost.Category!.Name</a>
                                </div>
                            </div>
                            <h5 class="title">
                                <a href="post-details.html">
                                    @blogPost.Title
                                </a>
                            </h5>
                        </div>
                    </div>
                    <!-- End Post List  -->
                </div>
                <!-- End Stories Post  -->
            }

        </div>
        @*        <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
        </div>*@
    </div>
</div>
<!-- End More Stories Area  -->
@section scripts{

    <script src="~/ckeditor5/build/ckeditor.js"></script>

    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                licenseKey: '',
                minHeight: '300px',
            })
            .then(editor => {
                window.editor = editor;
            })
            .catch(error => {
                console.error('Oops, something went wrong!');
                console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                console.error(error);
            });
    </script>
}

